* {
  margin: 0px;
}

h1, h2, h3, h4 {
  font-family: "Open Sans", "Raleway", sans-serif;
}

.contenedor {
  width: 70%;
  margin: auto;
}

.nav {
  display: block;
  height: 70px;
  font-family: "Open Sans", sans-serif;
}

.nav a {
  float: left;
  display: block;
  margin-top:10px;
  margin-left: 10px;
}

.nav ul {
  text-align: center;
  list-style-type: none;
  display: block;
  font-size: 15px;
  margin-right: 10px;
}

.nav li {
  width: 10%;
  font-size: 15px;
  font-weight: bold;
  color: grey;
  float: right;
  margin-top: 25px;
}

.nav li:active {
  color: black;
}

.nav li:hover {
  color: black;
}

.cover {
  font-family: "Raleway";
  height: 800px;
  background-image: url("../images/indexbanner-bg3.jpg");
  background-repeat: no-repeat;
  color: white
}

.textos {
  padding-top: 250px;
}

#title {
  font-size: 40px;
  font-weight: bolder;
  margin: 10px;

}

#subtitle {
  font-size: 15px;
  width: 40%;
  font-weight: 100;
  display: block;
  margin: 10px;
  line-height: 25px;
}

.formulario {
  position: relative;
  bottom: -240px;
  display: block;
  text-align: center;
}
#email {
  height: 70px;
  width: 80%;
  font-size: 15px;
  text-indent: 20px;
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  border: 1px;
  border-color: grey;
}

#button {
  width:20%;
  background-color: #01ADF4;
  color: white;
  font-size: 15px;
  font-weight: bolder;
  border-radius: 0;
  box-shadow: none;
  border: 1px;
  height: 70px;
  padding: 0;
  margin: 0;
}

.pricing {
  background-image: url("../images/pricing-bg.jpg");
}

.feature {
  width: 24%;
  display: inline-block;
  text-align: center;
  height: 800px;
  margin-top: 50px;
  vertical-align: top;
}

.feature h1 {
  text-transform: uppercase;
  color: grey;
  margin-top: 30px;
  letter-spacing: 2px;
  font-size: 18px;
}

.feature p {
  font-family: "open-sans", sans-serif;
  font-size: 15px;
  line-height: 25px;
  margin: 30px 10px 0px 10px;
  text-align: center;
  color: grey;
